*{
  margin: 0;
  padding: 0;
}

/* ===== BODY BACKGROUND (iPhone style) ===== */
body {
  margin: 0;
  min-height: 100vh;
  background-color: #fff;


  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}



@import "tailwindcss";